<% provide(:title, "Help") %>

<h1>Help</h1>
<p>
  Need help with this application? Visit the
  <a href="https://github.com/ayushkpai/sample-app">Sample App GitHub repository</a>
  or
  <a href="https://github.com/ayushkpai/sample-app/issues/new">open a new issue</a>.
</p>
